<html>
  <head>
   <script src="http://code.jquery.com/jquery-1.5.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js"></script>
    <script src="../../lib/popcorn/popcorn.js"></script>
    <script src="../../lib/popcorn/popcorn.yahooboss.js"></script>
    <script src="../../lib/popcorn/popcorn.youtube.js"></script>
    <script src="../../lib/popcorn/popcorn.vimeo.js"></script>
    <script src="../../lib/popcorn/popcorn.soundcloud.js"></script>
    <script src="../../lib/popcorn/popcorn.image.js"></script>
    <script src="../../lib/popcorn/popcorn.footnote.js"></script>
    <script src="../../lib/popcorn/popcorn.twitter.js"></script>
    <script src="../../lib/popcorn/popcorn.subtitle.js"></script>
    <script src="../../lib/popcorn/popcorn.attribution.js"></script>
    <script src="../../lib/popcorn/popcorn.flickr.js"></script>
    <script src="../../lib/popcorn/popcorn.webpage.js"></script>
    <script src="../../lib/popcorn/popcorn.wikipedia.js"></script>
    <script src="../../lib/popcorn/popcorn.googlemap.js"></script>
    <script src="../../lib/popcorn/popcorn.webpage.js"></script>
    <script src="../../lib/popcorn/popcorn.googlefeed.js"></script>
    
    <script src="../../butter/src/previewer/butter.previewer.js"></script>
    <script type="text/javascript" src="template.js"></script>
    <script type="text/javascript" >
    //http://www.lesmecaniques.net/labex/site/videos/17NOVOdileNouvelVO.webm
	var currentEventId;
	var popcorn2;
    function createSearchEvent(str) {
        if(currentEventId)
        	popcorn.getTrackEvent(currentEventId).end = popcorn.currentTime();

        popcorn.yahooboss({
    		start:popcorn.currentTime()+0000001,
    		end:popcorn.currentTime()+1000000,
    		target:'pierre_giner',
    		query:str,
    		searchtype:'images,web,news'});
    	currentEventId = popcorn.getLastTrackEventId();
    	console.log("bibi"+popcorn.getTrackEvent(currentEventId));
    }

        
    
    //var e
    window.addEventListener("DOMContentLoaded", function(){
    	console.log(window.butter);
    	console.log(window.Butter);
    	//console.log(Butter);
    	//console.log(butter);
    	//addTrackEvent
    	$("#inputbutton").click(function() {
        	//alert($("#inputsearch").val());
    		createSearchEvent($("#inputsearch").val());
    	});
 
    }, false);

    </script>
  </head>
  <style>
    video, div {
      float: left;
      display: inline;
    }

    .content-div {
      width: 300px;
      height: 200px;
      border: 1px solid #000;
    }

    #main {
      min-width: 300px;
      min-height: 200px;
    }
  </style>
  <body>
    <div id="main" data-butter="media"></div>
    <div class="content-div" data-butter="target" id="pierre_giner"></div>
    <div class="content-div" data-butter="target" id="patrick_bouchain"></div>
    <div class="content-div" data-butter="target"><input type="text"/ id="inputsearch"><input type="button" value="ok" id="inputbutton"></input></div>
  </body>
</html>
